@model DanielLuca.Models.Item

@{
    ViewData["Title"] = "Detalhes do Item";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-primary">Detalhes do Item</h2>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <dt>@Html.DisplayNameFor(model => model.Preco)</dt>
        </div>
        <div class="col-md-10">
            <dd>@Html.DisplayFor(model => model.Preco)</dd>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <dt>@Html.DisplayNameFor(model => model.Percentual)</dt>
        </div>
        <div class="col-md-10">
            <dd>@Html.DisplayFor(model => model.Percentual)</dd>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <dt>@Html.DisplayNameFor(model => model.Quantidade)</dt>
        </div>
        <div class="col-md-10">
            <dd>@Html.DisplayFor(model => model.Quantidade)</dd>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <dt>@Html.DisplayNameFor(model => model.ProdutoId)</dt>
        </div>
        <div class="col-md-10">
            <dd>@Html.DisplayFor(model => model.Produto.Nome)</dd>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <dt>@Html.DisplayNameFor(model => model.NotaDeVendaId)</dt>
        </div>
        <div class="col-md-10">
            <dd>@Html.DisplayFor(model => model.NotaDeVenda.Id)</dd>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3">
            <a asp-controller="Item" asp-action = "Index" class = "btn btn-outline-primary border form-control">Voltar</a>
        </div>
        <div class="col-md-3">
            <a asp-controller = "Item" asp-action = "Edit" asp-route-id = "@Model.Id" class = "btn btn-outline-primary border form-control">
                <i class="bi bi-pencil-square"></i> Editar
            </a>
        </div>
    </div>
</div>
