@model IEnumerable<DanielLuca.Models.Item>

@{
    ViewData["Title"] = "Lista de Itens";
}

<div class = "container">
    <div class = "row pt-4 pb-3">
        <div class = "col-6">
            <h2 class = "text-primary">
                Lista de Itens
            </h2>
        </div>
        <div class = "col-6 text end">
            <a asp-controller = "Item" asp-action = "Create" class = "btn btn-outline-primary border">
                <i class="bi bi-plus-circle"></i> Novo Item
            </a>
        </div>
    </div>
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>
                Preço
            </th>
            <th>
                Percentual
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Produto
            </th>
            <th>
                Nota de Venda
            </th>
        </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model) 
            {
                <tr>
                    <td>@obj.Preco</td>
                    <td>@obj.Percentual</td>
                    <td>@obj.Quantidade</td>
                    <td>@obj.Produto.Nome</td>
                    <td>@obj.NotaDeVenda.Id</td>
                    <td>
                        <div class = "w-75 btn-group" role = "group">
                            <a asp-controller = "Item" asp-action = "Edit" asp-route-id = "@obj.Id" class = "btn btn-outline-primary border mx-2">
                                <i class="bi bi-pencil-square"></i> Editar
                            </a>
                            <a asp-controller = "Item" asp-action = "Details" asp-route-id = "@obj.Id" class = "btn btn-outline-primary border mx-2">
                                <i class="bi bi-search"></i> Detalhes
                            </a>
                            <a asp-controller = "Item" asp-action = "Delete" asp-route-id = "@obj.Id" class = "btn btn-outline-danger border mx-2">
                                <i class="bi bi-trash"></i> Excluir
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table> 
</div>
